
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 13px;
/* 	color: #616161; set default theme*/
/* 	background-color: #949393; set default theme*/
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
	margin-top:20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

.input-label,.command-link,.ui-column-title,.ui-widget-content,.ui-widget #input{
	font-family: Adobe Garamond Pro !important;
	font-size: 13px !important;
}

.ui-wizard-step-title {
	font-size: 14px !important;
}

/* .ui-growl { */
/* 	position: absolute !important; */
/* 	top: 180px !important; */
/* 	left: 400px !important; */
/* 	width: 500px !important; */
/* } */
/* .ui-growl-message { */
/* 	float: right !important; */
/* 	padding: 6px 5px 3px !important; */
/* 	width: 420px !important; */
/* } */
/* .ui-growl-item { */
/* 	padding: 3px 8px !important; */
/* } */
/* .ui-growl-title { */
/* 	font-size: 13px; */
/* /* 	color: #3A87AD; set default theme*/ */
/* } */
/* .ui-growl-item-container { */
/* /* 	background: #D9EDF7; set default theme*/ */
/* } */

.ui-calendar  input {
	width: 88% !important;
	padding-right: 1% !important;
}
.ui-datepicker-trigger {
	width: 11% !important;
	align: middle;
}

form .ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	background:
		url('#{request.contextPath}/images/ui-bg_highlight-soft.png')
		!important;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:left;
}

.ui-widget {
    font-size: 13px !important;
    font-family: Adobe Garamond Pro !important;
/*     color: #222222; set default theme*/
/*     text-shadow: 0 0px 0px #BFEFFF; set default theme*/
}

.ui-widget-header {
	font-size: 13px !important;
    font-family: Adobe Garamond Pro !important;
/*     color: #ffffff; set default theme*/
/*     text-shadow: 0 0px 0px #BFEFFF important; set default theme*/
/* 	background: #00aab4; set default theme*/
}

.ui-widget-overlay {
/* 	background :#f4f5f7 !important; set default theme*/
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

form .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: url('#{request.contextPath}/images/ui-bg_highlight-soft.png') !important;
}

.ui-messages-error, .ui-message-error {
/*     background-color: #FFA07A !important; */
/*     border-color: #EED3D7; */
/*     color: #B94A48; set default theme*/
    width: 100% !important;
}

.ui-panel .ui-panel-titlebar {
    font-size: 13px !important;
    font-family: Adobe Garamond Pro !important;
/*     color: #ffffff; set default theme*/
/*     text-shadow: 0 0px 0px #BFEFFF; set default theme*/
}

.ui-layout-unit .ui-layout-unit-content{
	padding: 0;
}
.ui-layout-unit{
	padding: 0;
}
.ui-menu .ui-menuitem-text{
	color: white;
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}
.ui-datatable .ui-state-highlight {
    background-image: none;
/*     background-color: #00aab4 !important; set default theme*/
}
body .ui-panel .ui-panel-content{
	border : 1px solid #c8c8c8;
}
.ui-inputgroup{
	display: -webkit-flex;
	padding: 0;
}

/**Un-used css*/
.header-label {
	padding: 5px 20px;
}

.ui-state-highlight{
/* 	background-color: black; set default theme*/
}
.error-message {
	text-decoration: none;
	font-size: 13px;
	color: red;
}

.box {
	width: 99%;
	min-height: 500px;
	height: 99%;
	padding: 5px;
/* 	background-color: #D8D8D8; set default theme*/
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.top {
	width: auto;
	margin: 0;
	border: 0;
	height: 100px;
/* 	background-color: transparent; set default theme*/
/* 	border-bottom: 2px #616060 solid; set default theme*/
}
.bottom {
	width: auto;
	margin-top: 3px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	border: 0;
	height: 30px;
/* 	background-color: #423C3C; set default theme*/
	padding: 0;
	font-family: tahoma, verdana;
	font-size: 13px;
	color: white;
	text-align: center;
	line-height: 28px;
}

.addy {
	font-family: tahoma, verdana;
	font-size: 13px;
	color: #808080;
	padding: 0;
	margin-bottom: 5px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	text-align: right;
	border-bottom: 1px #808080 dotted;
}
/** ThemeSwitcher **/
.navOverlay {
	width: 200px;
	max-height: 400px;
	overflow-y: auto;
/* 	background-color: #eff3f6; set default theme*/
	border: solid 1px #bcc7cf;
	z-index: 99999999999;
	position: absolute;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	margin-left: -60px;
	display: none;
}

.navOverlay a {
	display: block;
	padding: 10px;
	border-bottom: solid 1px #bcc7cf;
	text-align: left;
	color: #87939B;
	overflow: hidden;
}

.navOverlay a:hover {
	color: #fdd106;
}

.navOverlay a span.ui-theme {
	width: 30px;
	height: 27px;
	float: left;
	border: solid 1px #D7DCE0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.navOverlay a span.ui-text {
	display: inline-block;
	margin-top: 7px;
	margin-left: 10px;
	font-size: 14px;
}
